body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --primary-color: #fb995d;
  --primary-color-bright: #fa7727;
  --whitesmoke-color:#F5F5F5;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: Open Sans;
}

h1{
  font-size: 2.5rem; 
}

.container{
  width: 70%;
  margin:auto;
}

.flex{ display: flex; }

.justify-center{ justify-content: center; }

.justify-between{ justify-content: space-between; }

.align-center{ align-items: center; }

.text-primary{ color: var(--primary-color); }

span{
  font-family: Open Sans;
}


.button-primary{
  display: inline-block;
  padding: 1rem 2rem;
  background-color: var(--primary-color-bright);
  color: #fff;
  text-decoration: none;
  margin-top: 2rem;
  box-shadow: 2px 2px 5px #ddd;
  transition-property: 0.2s ease-in;
  border: none;
  font-family: Chivo Mono;
  font-size: 1rem;
}

.button-primary:hover{
  background-color: #222 ;
}

